<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="app-container">
      <!-- navbar -->
      <nav class="mb-1">
        <a href="http://localhost:5500/" class="theme-color">
          <i class="fas fa-chevron-left"></i> HOME
        </a>
      </nav>

      <!-- form for adding new habit -->
      <form
        action="/create-habit/?id=<%= user_id %>"
        method="POST"
        id="habit-form"
      >
        <i style="font-size: 1.5rem;" class="fas fa-pen theme-color"></i>
        <input type="text" name="name" placeholder="New Habit" required />
        <button type="submit">ADD</button>
      </form>

      <!-- container for displaying each habit -->
      <div class="habit-container">
        <% if(habit_list.length === 0) { %>
        <h2 style="margin-top: 5rem;">
          Add new habits to your
          <b class="theme-color">daily</b> schedule
        </h2>
        <% } else { %>
        <ul>
          <% for(let i of habit_list){ %>
          <li class="habit-list-item bg-grey">
            <p class="capitalize"><%= i.name %></p>
            <div class="options">
              <a href="/add-favorite/?id=<%= i._id %>">
                <% if(i.favorite) { %>
                <i class="fas fa-star golden-color"></i>
                <% } else { %>
                <i class="far fa-star golden-color"></i>
                <% } %>
              </a>
              <a href="/delete-habit/?id=<%= i._id %>">
                <i class="far fa-trash-alt red-color"></i>
              </a>
              <a href="/render-record/?id=<%= i._id %>">
                <i class="fas fa-chevron-right blue-color"></i>
              </a>
            </div>
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </div>
  </body>
</html>
