<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="app-container">
      <!-- anchor tag for going back to home page -->
      <a href="http://localhost:5500/" class="theme-color">
        <i class="fas fa-chevron-left"></i> HOME
      </a>
      <h1 class="theme-color">
        7 Day Records For
        <span class="white-color"><%= habitDetails.name.toUpperCase() %></span>
      </h1>

      <!-- fetching 7 day records from db and rendering it -->
      <div class="record-list">
        <ul>
          <% for(let i of record_list) { %>
          <a href="/mark-done/?id=<%= i.id %>">
            <% if(i.done === 'none'){ %>
            <li class="bg-grey">
              <p class="blue-color"><%= i.day.toUpperCase() %></p>
              <p class="blue-color"><%= i.date.slice(8, 10) %></p>
            </li>
            <% } else if(i.done === 'done') { %>
            <li class="bg-green">
              <p class="white-color"><%= i.day.toUpperCase() %></p>
              <p class="white-color"><%= i.date.slice(8, 10) %></p>
            </li>
            <% } else{ %>
            <li class="bg-red">
              <p class="white-color"><%= i.day.toUpperCase() %></p>
              <p class="white-color"><%= i.date.slice(8, 10) %></p>
            </li>
            <% } %>
          </a>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
